<include file="Public:header" />
<div class="container fix_content">
    <div class="btn-group">
        {$pageShowA}</div>
    <ul class="nav nav-sidebar">
        <foreach name="article" item="vo">
            <li>
                <a href="{:u('Index/show')}?id={$vo.id}">
                    <h4>
            <span class="label label-warning">{$vo.classif}</span>
            {$vo[title]}
            </h4>
                    <p>{$vo['content']|mb_substr=0,100,'utf-8'}</p>
                </a>
            </li>
        </foreach>
    </ul>
    <div class="btn-group pull-right">
        {$pageShowA}</div>
</div>
<include file="Public:footer" />
<script>
</script>
